@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');


/* Cores */
:root{
  --texto-color:#e5e5e5;
  --texto-color-span:#d3d3d3;
  --primaria-color:#2d3250;
  --secundaria-color:#424769;
  --detalhe-color: #676f9d;
  --button-color: #f9b17a; 

/* Textos */
  --font-logo:1.75rem;
  --font-navegacao:1rem;
  --font-titulos-small:3rem;
  --font-titulos-medium:1.5rem;
  --font-paragrafos:1.125rem;
  --font-links:1.125rem;
  --container-padding:3.75rem 3.75rem;
  --container-padding-top:1.25rem 3.75rem;
  --container-padding-nav:2.5rem 3.75rem;

/* Mobile */
  --font-titulos-small-mobile:1.875rem;
  --font-titulos-medium-mobile:1.25rem;
  --container-padding-mobile:1.875rem 1.25rem;

/* Font-Famile */
  --font-primary: 'Poppins', sans-serif;
  --font-secudary: 'Lora', serif;
  --font-cursiva:'Satisfy', cursive;
}

/* Reset Css */
*{
  margin: 0;
  padding: 0 ;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}

h2,h3{
  font-family: var(--font-primary);
  font-weight: 100;
  font-size: var(--font-titulos-medium);
  font-family: var(--font-secudary);
  color: var(--texto-color);
  font-style: italic;
}

h1{
  font-size: var(--font-titulos-small);
  font-family: var(--font-secudary);
  line-height: 1;
  color: var(--button-color);
}


p{
  color: var(--texto-color);
  font-size: var(--font-paragrafos);
  font-family: var(--font-primary);
}

img{
  max-width: 100%;
  height: auto;
}

body{
  font-family: Arial, Helvetica, sans-serif;
  margin: 0 auto;
  max-width: 1600px;
  background-color: var(--primaria-color);
}

/* Navegação Top */


.navegacao-top, .footer-botton{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: var(--container-padding-top);
  border-bottom: 1px solid var(--detalhe-color);
}

.logo{
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo a{
  display: block;
  padding: 10px;
  font-family: var(--font-secudary);
  font-size: var(--font-logo);
  font-weight: 700;
  font-style: italic;
  color: var(--button-color);
}

.redes-sociais, .footer{
  align-items: center;
  display: flex;
  gap: 10px;
  margin-top: 3px;
}

.redes-sociais{
  justify-content: flex-end;
}

.footer{
  justify-content: center;
}

/* Navegacao */
.container-navegacao{
 justify-content: center;
 display: flex;
 height: auto;
 position: relative;
 z-index: 10000;
 background-color: var(--secundaria-color);
}



.menu-toggle{
  display: none;
  flex-direction: column;
  cursor: pointer;
}

.menu-toggle .bar{
  background-color: var(--button-color);
  height: 3px;
  width: 25px;
  margin: 4px;
  transition: 0.3s;
}

.menu-toggle span{
  padding-bottom: 0;
}

.container-navegacao .btn-seta{
  display: none;
}

.nav-menu{
  align-items: start;
  display: flex;
  padding: var(--container-padding-nav);
}

.nav-menu li{
  position: relative;
}

.nav-menu a{
  position: relative;
}


.container-navegacao li{
  align-items: center;
  padding: 10px;
  margin-right: 10px;
}

.container-navegacao a{
  padding: 5px;
  position: relative;
  display: inline-block;
}

 h1{
  position: relative;
  padding-bottom: 10px;
  border-bottom: 1px solid var(--detalhe-color);
}

.container-navegacao a::after,  .card-mais a::after, .btn-info a::after, #btn-galeria a::after, #btn-trilhas a::after, .container-galeria a::after, .nav-footer a::after{
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 3px;
  background-color: var(--button-color);
  transition: width 0.3s ease;
}

.container-navegacao a:hover::after, .card-mais a:hover::after, .btn-info a:hover::after, #btn-galeria a:hover::after, #btn-trilhas a:hover::after, .container-galeria a:hover::after, .nav-footer a:hover::after{
  width: 100%;
}


.link-imagem{
  color: var(--texto-color);
  font-weight: 600;
  display: flex;
}


.link-imagem img{
  padding-right: 5px;
}

/* Sessão background */

.background:first-child{
  padding-top: 0;
}

.background{
  height: auto;
  display: flex;
  flex-wrap: wrap;
  padding: var(--container-padding);
  gap: 20px;
  background-color: var(--secundaria-color);
}

.bg-info {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 60px;
  background-color: var(--primaria-color);
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  justify-content: center;
}



.bg-info{
  flex: 2 0 175px;
  /* position: relative; */
}

.btn-info{
 display: flex;
}

.btn-info img{
  margin-left: 10px;
}

.btn-info a, .btn-passeios a, #btn-trilhas a , #btn-trilhas-mobile a, .card-mais a, #btn-galeria a, .container-galeria a{
  padding: 5px 0;
  color: var(--button-color);
  font-weight: 600;
  font-family: var(--font-primary);
  text-align: left;
}

.bg-images{
  flex: 3 0 175px;
  position: relative;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
}

.bg-images > img.current-img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
}

.next-img {
  position: absolute;
  gap: 5px;
  right:0;
  /* bottom: 38%; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  top: 54%;
  transform: translateY(-50%);
}

.next-btn-up, .next-btn-down{
  background-color: var(--texto-color);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}




/* Div Estatiísticas */

.estatisticas{
  height: auto;
  padding: 20px 0;
  padding: var(--container-padding);
  background-color: var(--primaria-color);
}

.box-media{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding: 20px 0;
}

.media{
  flex: 1 1 calc(25% -20px);
  align-content: center;
  padding:0 20px;
  text-align: center;
  height: 120px;
  color: var(--texto-color);
}

.media span{
  font-size: var(--font-titulos-small-mobile);
  font-family: var(--font-secudary);
  font-style: italic;
  display: block;
}

.media > p{
 font-size: 14px ;
}

/* Sessão Sobre Nós */
.container-sobre{
  height: auto;
  display: flex;
  padding: var(--container-padding);
  background-color: var(--secundaria-color);
  gap: 20px;
}

.sobre-info{
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
}

.sobre-info, .sobre-img{
  flex: 1 0 200px;
  align-content: center;
}

.sobre-img >img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Sessão Passeios */
.container-passeios{
  height: auto;
  padding: var(--container-padding);
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.container-passeios h2, .container-trilhas h2{
  padding-bottom: 20px;
}

.container-passeios span, .descricao-passeio span{
  font-size: var(--font-navegacao);
  color: var(--texto-color-span);
  font-family: var(--font-primary);
}

.box-passeios{
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.passeios{
 flex: 2 0 200px ;
}

.container-posts{
  flex: 1 0 100px;
}

.container-posts h2{
  padding-bottom: 10px;
}

#passeios{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 20px;
}

#passeios > img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 5px;
}


#btn-galeria a{
  display: inline-flex;
  align-items: center;
}

#btn-galeria img{
  width: 12px;
  margin-left: 10px;
}

.passeios-itens{
  padding: 40px 0 0;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 40px;
}

.scrool{
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.info-passeios{
  display: flex;
  box-sizing: border-box;
  background-color: var(--secundaria-color);
  
}

.color{
  border-radius: 5px;
}

.passeios img{
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.img-passeio{
  flex: 1 0 200px;
}

.info-passeios img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.descricao-passeio{
  flex: 2 0 175px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
  box-sizing: border-box;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Início Container Post */

.container-posts{
  border-radius: 5px;
}

.btn-posts{
  display: flex;
  width: 100%;
  margin: 0;
  padding: 0;
   box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.btn-post{
  flex: 1;
  border: none;
  padding: 30px;
  cursor: pointer;
  font-size: var(--font-navegacao);
  font-family: var(--font-secudary);
  color: var(--texto-color);
}

#popular-post{
  background-color: var(--secundaria-color);
  border-top-left-radius: 5px;
}

#recente-post{
  background-color: #2f3a57 ;
  border-top-right-radius: 5px;
}

.conteudo-post.recente{
  display: none;
}


.conteudo-post{
  display: flex;
  flex-wrap: wrap;
  padding: 20px;
  gap: 20px;
}

.conteudo-post img{
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.conteudo-post.active{
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  background-color: var(--secundaria-color);
}

.btn-post.active {
  background-color: var(--detalhe-color);
}

.recente{
  background-color: #2f3a57;
  margin-bottom: 1px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.popular{
  background-color: var(--secundaria-color);
  margin-bottom: 1px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}


.img-post{
  flex: 1 0 100px ;
}

.img-post img{
  width: 100%;
  height: 100%;
  border-radius: 5px;
  object-fit: cover;
}

.info-posts{
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.info-posts span{
  font-size: 14px;
}

.container-post-mobile, .passeios-mobile{
  display: none;
}

/* Fim Container Post */

/* Trilhas */
.container-trilhas{
height: auto;
display: flex;
flex-direction: column;
gap: 20px;
padding: var(--container-padding);
background-color: var(--secundaria-color);
}

.box-trilha, #box-trilha{
  display: flex;
  flex-wrap: wrap;
  border-radius: 5px;
}

.box-trilha{
  background-color: var(--primaria-color);
}

.info-trilhas{
  flex: 3 0 200px;
  gap: 20px;
  padding: 20px; 
}

.info-trilhas h3, .card-info h3 {
  font-size: 18px;
  font-style: normal;
  color: var(--texto-color-span);
}

.descricao-trilhas{
  flex: 2 0 175px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.tipo-trilha, .curtir-trilha{
  display: flex;
  gap: 10px;
}

.title-trilhas{
  padding: 20px 0;
}

.title-trilhas h2, .galeria-metricas h2, .ifp h2, .lista-trilha h2, .pdt h2, .container-galeria h2{
  font-family: var(--font-primary);
  font-style: normal;
  font-size: 18px;
}

.title-trilhas h2 {
  padding-bottom: 0;
}

.box-descrica-trilhas{
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.metrica-trilha{
  flex: 1 0 120px;
  padding-top: 20px;
}

.metrica-trilha h3{
  padding-bottom: 10px;
}

.medalhas{
  display: flex;
  gap: 10px;
}

.imagens-trilhas, #imagens-trilhas {
  flex: 1 0 200px;
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
}

.imagens-trilhas{
  background-color: var(--primaria-color);
}

.img-destaque-trilha{
  flex: 2 0 100px;
}

.img-destaque-trilha img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.galeria-trilha{
  flex: 1 0 70px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  justify-content: space-between;
}


.galeria-trilha img{
  object-fit: cover;
  height: 100%;
}

.borda-img-1{
  border-top-right-radius: 5px;
}
.borda-img-2{
  border-bottom-right-radius: 5px;
}


#btn-trilhas{
  display: flex;
}

#btn-trilhas img{
 margin-left: 10px;
}

.btn-trilha-none{
  display: none;
}

.more-galleries{
  display: none;
}

.more-gallerie{
  display: none;
}

.btn-toggle,.toggleMore, .moreToggle{
  background-color: var(--secundaria-color);
  border: none;
  color: var(--texto-color);
  font-family: var(--font-primary);
  font-weight: 100;
  font-size: 12px;
  cursor: pointer;
}

/* Fim Trilhas */


/* Página Trilha */

.bg-container-trilha{
  background-color: var(--primaria-color);
}

.bg-box-trilha{
  background-color: var(--secundaria-color);
  border-radius: 5px; 
}

.bg-box-trilha{
  display: none;
}


.active{
  display: block;
}

#galeria-trilhas h2{
  text-transform: uppercase;
}

#galeria-trilhas{
  display: grid;
  grid-template-columns: 2fr 1fr;grid-template-rows: auto;
}

.galeria-info-trilha{
  display: flex;
  flex-direction: column;
  gap: 30px;
  grid-column: 1/2;
  grid-row: 1;
}

.galeria-map-trilhas{
  position: relative;
  width: 100%;
  padding-bottom: 75%; /* Proporção 4:3 */
  height: 0;
  overflow: hidden;
}

.galeria-map-trilhas iframe{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
}

.galeria-img-trilhas {
  display: flex;
  gap: 5px;
  height: auto;
}


.trilhas-img-destaque{
  flex: 2 0 100px;
  display: flex;
}


.imagens-pg-trilha {
  flex: 1 0 100px ;
  gap: 5px;
  display: flex;
  flex-direction: column;
  position: relative;
}


.btn-pg-trilha{
  position: absolute;
  bottom: 5px;
  right: 5px;
}

.btn-pg-trilha a{
  display: flex;
  color: var(--button-color);
  padding: 5px 10px;
  border-radius: 5px;
  background-color: rgba(45, 50, 80, 0.9);
}

.btn-pg-galeria{
  position: absolute;
}


.trilhas-img-destaque img, .imagens-pg-trilha img, .img-pg-trilha img{
  width: 100%;
  object-fit: cover;
  height: auto;
  
}

.galeria-metricas{
  padding-left: 20px;
  grid-column: 2/3;
  grid-row: 1/3;
}

.ciclismo-estrada{
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center; 
  text-align: center;
  gap: 20px;
  padding: 10px 0 30px;
  position: relative;
}

.ciclismo-estrada::after{
  content: '';
  width: 1px;
  height: 30px;
  right: 49,9%;
  top: 50%;
  background-color: var(--button-color);
  position: absolute;
  transform: translateY(-50%);
}


.ciclismo-estrada span, .info-resultados span, .descricao-segmentos span{
  font-size: 12px;
}

.info-estrada{
  width: 100%;
  padding: 0 5px;
}

.resultados{
  border-top: 1px solid var(--texto-color-span);
  border-bottom: 1px solid var(--texto-color-span);
  padding: 30px 0;
}

.info-resultados{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(80px, 1fr));
  gap: 10px;
  text-align: center;
  padding: 10px 0;
  position: relative;
}

.decricao-resultado{
  position: relative;
}

.decricao-resultado::after{
  content: '';
  width: 1px;
  height: 20px;
  background-color: var(--button-color);
  position: absolute;
  bottom: 4px;
  right: -7px;
}

.info-resultados h3, span{
  padding-bottom: 10px;
}

.conquistas{
  display: flex;
  justify-content: center;
  gap: 5px;
}

.box-segmentos{
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 10px 0;
}

.container-segmentos{
  padding: 30px 0 20px;
}

.descricao-segmentos{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-top: 5px;
}

.ifp{
  grid-column: 1/2;
  grid-row: 2;
  padding: 30px 0;
}

.pdt{
  grid-column: 2/3;
  grid-row: 2;
}


.lista-trilha{
  display: flex;
  flex-direction: column;
  gap: 20px;
  grid-column: 1/3;
  grid-row: 3;
}

.lista-trilha h2{
  padding-bottom: 0;
}

.lista-trilha h3{
  font-family: var(--font-primary);
  padding: 0 0 10px;
}

.lista-trilha ul{
  line-height: 1.5;
}

.lista-trilha li{
  position: relative;
  padding: 5px 0 5px 20px;
  color: var(--texto-color-span);
  font-size: 18px;
}

.lista-trilha li::before {
  content: '';
  width: 8px;
  height: 8px;
  background-color: var(--button-color); 
  border-radius: 50%; 
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%); 
}

#box-trilha, #imagens-trilhas{
  background-color: var(--secundaria-color);
}

.gallery-trilha{
  position: relative;
  overflow-y: hidden;
  width: 100%;
}

.gallery-trilha h3{
  padding: 10px 0 20px;
}


.container-cards{
  display: flex;
  flex-wrap: nowrap;
  gap: 20px;
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
  scroll-behavior: smooth;
  scrollbar-width: none; 
  -ms-overflow-style: none;
}

.cards-trilha{
  flex: 0 0 auto;
  width: 250px;
  background-color: var(--secundaria-color);
  border-radius: 5px;
  padding: 20px;
}

.cards-icons{
  display: flex;
  flex-wrap: wrap;
  align-items: center ;
  gap: 10px;
  justify-content: space-between;
}

.card-info{
  display: flex;
  align-items: center;
  gap: 10px;
}

.card-info h3 {
  padding-bottom: 0;
}

.card-descricao{
  padding: 10px 0;
  height: 200px;
}

.card-descricao p {
  margin: 0;
  word-wrap: break-word;
  white-space: normal;
  line-height: 1.4; 
  height: auto;
}

.card-mais{
  padding: 20px 0;
}

.card-mais a, .btn-info a, #btn-galeria a, #btn-trilhas a{
  position: relative;
}

.card-mais img{
  margin-left: 10px;
}


.cards-img img{
  width: 100%;
  object-fit: cover;
}

/* Galeria Imagens */
.container-galeria{
  padding: var(--container-padding);
  display: flex;
  flex-direction: column;
  gap: 20px;
  height: auto;
}
.container-galeria a{
  position: relative;
}

.container-galeria a>img{
  margin-left: 10px;
}

.box-galeria{
  position: relative;
  overflow: hidden;
  width: 100%;
}

.box-galeria h3{
  padding: 10px 0 0;
}

.galeria-scroll::-webkit-scrollbar, .container-cards::-webkit-scrollbar { 
  display: none;
}

.galeria-scroll, .galeria-scroll-1{
  display: flex;
  gap: 20px;
  padding: 20px 0;
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
  scroll-behavior: smooth;
  scrollbar-width: none; 
  -ms-overflow-style: none;
}

.galeria-imagem{
  flex: 0 0 auto;
  height:400px ;
}

.galeria-imagem img{
  width: 100%;
  height: 400px;
  object-fit: cover;
  border-radius: 5px;
}


/* Setas de navegação */
.nav-arrow, .nav-seta, .next-btn-up, .next-btn-down {
  top: 50%;
  transform: translateY(-50%);
  background: rgba(0, 0, 0, 0.5);
  color: var(--button-color);
  border: none;
  cursor: pointer;
  z-index: 10;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
}

.nav-arrow, .nav-seta {
  position: absolute;
}

.nav-arrow-left, .seta-esquerda, .nav-arrow-left-1 {
  left: 0;
}

.nav-arrow-right, .seta-direita, .nav-arrow-right-1 {
  right: 0;
}

/*Página Galeria*/
/*fullscreen */
#fullscreen-view {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.9);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 13000;
  opacity: 0;
  transition: opacity 0.3s ease;
}

#fullscreen-view img {
  max-width: 90%;
  max-height: 90%;
}

#fullscreen-view.show {
  opacity: 1;
}

#fullscreen-view.hidden {
  display: none;
}

#close-btn {
  position: absolute;
  top: 20px;
  right: 20px;
  background-color: #fff;
  border: none;
  padding: 10px;
  cursor: pointer;
  font-size: 16px;
  z-index: 1001;
}

/* footer */
.footer-botton{
  padding: var(--container-padding-nav);
  justify-content: space-between;
}

.nav-footer{
  align-self: center;
}

.nav-footer ul{
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
}

.nav-footer a{
  display: block;
  position: relative;
  color: var(--texto-color);
  padding: 10px 5px 5px;
  font-size: 14px;
  font-weight: bold;
}

.direitos-autorais{
  text-align: center;
  padding: var(--container-padding-top);
  background-color: var(--secundaria-color);
}

.direitos-autorais p{
  font-size: 12px;
  font-weight: bold;
  color: var(--texto-color-span);
}



@media (max-width:939px){

/* Menu Navegação */

  .logo img{
    margin-right: 5px;
  }

  .navegacao-top{
    padding: var(--container-padding-mobile);
  }

  .navegacao-top a{
    padding-left: 0px;
  }
  
  .logo-mobile{
    display: flex;
  }

  .logo-mobile a{
    display: block;
    padding: 10px;
    font-family: var(--font-secudary);
    font-size: var(--font-logo);
    font-weight: 700;
    font-style: italic;
    color: var(--button-color);
  }

  .container-navegacao{
    padding: var(--container-padding-mobile);
    align-items: center;
    justify-content: end;
  }

  .container-navegacao .btn-seta {
    display: flex;
    font-size: 24px;
    color: var(--button-color);
    position: absolute;
    left: 20px;
    top: 50%;
    transform: translateY(-50%);
    z-index: 100;/
  }

  .container-navegacao .menu-toggle {
    margin-left: 50px; 
  }


  .nav-menu{
    display: none;
    flex-direction: column;
    position: absolute;
    top: 60px;
    right: 0px;
    background-color:var(--primaria-color);
    width: 160px;
    padding: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2), 0 6px 20px rgba(0, 0, 0, 0.19);
    border-bottom-left-radius: 5px;
  }

  .nav-menu.active {
    display: flex;
  }

  .menu-toggle {
    display: flex;
  }

  .background:first-child{
    padding-top: 0;
  }

  .background, .container-sobre , .container-passeios, .container-trilhas, .container-galeria{
    flex-direction: column;
    padding: var(--container-padding-mobile);
  }

  .bg-info{
    gap: 15px;
    padding: 40px 20px;
    order: 2;
  }

  .estatisticas{
    overflow-x: auto;
    overflow-y: hidden;
    padding: 20px 0;
    justify-content: space-evenly;
  }

  .box-media{
    display: inline-flex;
    flex-wrap: nowrap;
    gap: 20px;
  }

  .media{
    flex: 0 0 auto;
    width: 200px;
    padding: 0;
    position: relative;
  }

  .media::after{
    content: '';
    position: absolute;
    right: 0;
    top: 50%;
    width: 2px;
    height: 30px;
    transform: translateY(-50%);
    background-color: var(--button-color);
  }

  .media:last-child::after {
    content: none;
  }

  .sobre-info, .container-passeios, #passeios{
    gap: 15px;
  }

  .container-passeios h2, .container-trilhas h2{
    padding-bottom: 20px;
  }

  .box-passeios{
    flex-direction: column;
  }


  .info-passeios{
    flex: 0 0 auto;
    flex-direction: column;
    width: 100%;
    margin-right: 20px;
  }

  .passeios-itens{
    padding:10px  0 0;
  }

.passeio-none{
  display: none;
}

.container-posts{
  display: none;
}

.box-trilha, #box-trilha{
  flex-direction: column;  
 } 

 #btn-trilhas{
  display: none;
}

.btn-trilha-none{
  display: flex;
  padding: 20px;
  justify-content: flex-end;
}

.btn-trilha-none a{
  width: 100%;
  text-align: center; 
}

.btn-trilha-none img{
  margin-left: 8px;
}


/* Container Passeio Mobile */

.passeios-mobile{
  overflow-x: auto;
  overflow-y: hidden;
  background-color: var(--secundaria-color);
  padding: 30px 20px;
  display: flex;
}

.info-passeios-mobile{
  display: inline-flex;
  flex-wrap: nowrap;
  padding-right: 20px;
  gap: 20px;
}

.detalhe-passeio-mobile-img{
  background-color: var(--primaria-color);
}

.detalhe-passeio-mobile{
  flex: 1 0 auto;
  width: 270px;
}


.detalhe-passeio-mobile img{
  width: 270px;
  height: auto;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  object-fit: cover;
}

.descricao-passeio-mobile{
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding:20px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  background-color: var(--primaria-color);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}


/* Fim Container Passeio Mobile  */

/* Container Post Mobile */
.container-post-mobile{
  padding: var(--container-padding-mobile);
  height: auto;
  display: flex;
  flex-direction: column;
}

.btn-post{
  padding: 20px;
}

.box-post-mobile{
  display: flex;
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
  gap: 5px;
  padding-top: 5px;
}

.info-post-mobile{
    padding: 20px 0;
    padding-left: 20px;
    height: auto;
    padding: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.info-post-mobile span,  .info-passeios-mobile span{
  font-family: var(--font-primary);
  color: var(--texto-color-span);
  font-size: 14px;
}

.info-post-mobile.active{
 display: flex;
}

.info-post-mobile.recente{
  display: none;
}

.descricao-post-mobile{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 10px;
  padding-top: 10px;
}

.ultimo-post{
  padding-right: 10px;
}


.post-img-mobile img{
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
/* Fim container post mobile */

.container-trilhas{
  padding: var(--container-padding-mobile);
}

#galeria-trilhas{
  grid-template-columns: 1fr;
  
}

.galeria-metricas{
  padding: 30px 0 0;
  grid-column: 1/1;
  grid-row: 2 ;
}

.container-segmentos{
  border-bottom: 1px solid var(--texto-color-span);
}

.ifp {
  grid-row: 3;
  padding:10px 0px;
}

.lista-trilha{
  grid-row: 4;
}

/* Galeria */
.galeria-imagem {
  width: calc(100% / 2); 
} 

.title-trilhas h2 {
  padding-bottom: 0;
}

.lista-trilha h2 {
  padding: 20px 0 10px;
}

.ifp h2 {
  padding-top: 20px;
}

.galeria-scroll, .galeria-scroll-1{
  padding: 10px 0 0;
}

.footer-botton{
  padding: var(--container-padding-mobile);
}

.direitos-autorais{
  padding: 20px;
}

}


@media (max-width:595px) {

  .navegacao-top{
    flex-direction: column;
    align-content: center;
  }

  .redes-sociais{
    justify-content: center;
  }

  .redes-sociais img{
    width: 20px;
  }
   
  .bg-info h1, .sobre-info h1, .container-passeios h1, .container-trilhas h1, .container-galeria h1{
    font-size: var(--font-titulos-small-mobile);
  }

  .next-img {
    top:60%;
  }

  .next-btn-up, .next-btn-down {
    background: none;
    box-shadow: none;
    color: var(--button-color);
  }

  .next-btn-up:hover, .next-btn-down:hover{
    background: none;
    transition: 0.5s;
  }

  .info-trilhas, .descricao-trilhas{
    flex: 1 0 25%;
  }

  .media{
    flex: 0 0 auto;
    width: 145px;
    padding: 0;
  }

  .box-media{
    gap: 10px;
    
  }

  .curtir-trilha h3{
    display: none;
  }


  .metrica-trilha{
    flex: 1 0 30%;
  }

  .borda-img-1{
    border-radius: 0;
  }

  .borda-img-2{
    border-radius: 0;
  }

  .img-destaque-trilha , .img-destaque-trilha img{
    border-bottom-left-radius: 0px;
  }


  .imagens-trilhas{
    display: flex;
  }

  .imagens-trilhas div{
    flex: 1;
  }

  .btn-pg-trilha a{
    font-size: 12px;
  }

  .lista-trilha h2{
    padding-bottom: 0;
  }

  .galeria-info-trilha{
    gap: 30px;
  }

  .galeria-imagem {
    width: calc(100%); 
  }

  .footer-botton{
    flex-direction: column;
    gap: 20px;
  }
  
}


@media (max-width:359px) {

.galeria-img-trilha{
  display: none;
}
.decricao-resultado::after{
  display: none;
}

.info-resultados{
  gap: 10px;
}

.galeria-img-trilhas{
  flex-wrap: wrap;
}

}

